<div class="row">
  <div class="col s12 center">
    {{#has tag="brandpage-starters"}}
      {{#get "posts" slug="starters-benefits"}}
        {{#foreach posts}}
          <h2>{{title}}</h2>
          <p>{{ content }} </p> 
        {{/foreach}}
      {{/get}}
      <div class="row">
        {{#get "posts" filter="tags:starters-bene"}}
          {{#foreach posts}}
            <div class="col s12 m4">
              <p><i class="material-icons center medium">{{meta_description}}</i></p>
              <h3>{{title}}</h3>
              <p>{{content}}</p>
            </div>
          {{/foreach}}
        {{/get}}
      </div>
    {{else}}
      {{#has tag="brandpage-devs"}}
        {{#get "posts" slug="devs-benefits"}}
          {{#foreach posts}}
            <h2>{{title}}</h2>
            </p>{{ content }} </p> 
          {{/foreach}}
        {{/get}}
      {{else}}
        This Brandpage hasn't been created yet.        
      {{/has}}
    {{/has}}
  </div>
</div>